---
layout: default
---
<section>
    <div class="container">
        <header class="major">
            <h2>{{ page.title }}</h2>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if site.author %} • {{ site.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <section class="post-content">
            {{ content }}
        </section>

        <footer>
            {% if page.previous %}
            <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
            <!-- 多说评论框 start -->
            	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.url }}/{{ page.url }}"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
            var duoshuoQuery = {short_name:"louguanstar"};
            	(function() {
            		var ds = document.createElement('script');
            		ds.type = 'text/javascript';ds.async = true;
            		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            		ds.charset = 'UTF-8';
            		(document.getElementsByTagName('head')[0]
            		 || document.getElementsByTagName('body')[0]).appendChild(ds);
            	})();
        	</script>
        <!-- 多说公共JS代码 end -->
        </footer>

    </div>

</section>
